{% extends "index.html" %}
<br /><br />

{% block content %}

<body>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <!-- Iterate through the list of products and if id of the product matches the selected id show this product -->
            {% for item in products %}
            {% if item["id"]==id %}
            <div class="row gx-4 gx-lg-5 align-items-center">
                <!-- Product image -->
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                        src="{{url_for('static', filename='images/' + item['img'])}}" alt="item['description']" />
                </div>
                <div class="col-md-6">
                    <!-- Product name -->
                    <h2 class="display-5 fw-bolder">{{item["name"]}}</h2>
                    <div class="fs-5 mb-5">
                        <!-- Product price -->
                        <span>${{item["price"]}}</span>
                    </div>
                    <!-- Product description -->
                    <p class="lead">{{item["description"]}}</p>
                    <!-- Product action -->
                    <div class="d-flex">
                        {% if request.method=='GET' %}
                        <form method='post' action="">
                            <label for='add_to_cart'>Select number of
                                items</label>
                            <input id='add_to_cart' type='number' name='input'>
                            <input type='submit' value='Add to cart'>
                        </form>
                        {% elif request.method=='POST' and input %}
                        <form method='post' action="">
                            <label for='add_to_cart'>Select number of
                                items</label>
                            <input id='add_to_cart' type='number' name='input'>
                            <input type='submit' value='Add to cart'>
                        </form>
                        {% elif request.method=='POST' and not input %}
                        <form method='post' action=''>
                            <label for='add_to_cart'>Select number of
                                items</label>
                            <input id='add_to_cart' type='number' name='input'>
                            <input type='submit' value='Add to cart'>
                            Please select number of items
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for item in products %}
                {% if item["id"]!=id %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{url_for('static', filename='images/' + item['img'])}}"
                            alt="item['description']" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{item["name"]}}</h5>
                                <!-- Product price-->
                                ${{item["price"]}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            {% if item['type']=='clothing' %}
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="{{url_for('show_clothes_detail', id=item['id'])}}">Product details</a>
                            </div>
                            {% elif item['type']=='shoes' %}
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="{{url_for('show_shoes_detail', id=item['id'])}}">Product details</a>
                            </div>
                            {% elif item['type']=='accessories' %}
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="{{url_for('show_accessories_detail', id=item['id'])}}">Product details</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</body>
{% endblock %}